/* IMPORT ROBOTO */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
html {
    background-color: #cccccc;
}
._main_title {
    border-radius: 5px;
    border: none;
    background-color: #1bb3f5;
    padding: 10px;
}
._title_desc {
    border-radius: 5px;
    border: none;
    background-color: #1bb3f5;
    padding: 10px;
}